/***********************************
*	Default stylesheet for commerce
*	last changes: 20.09.2007
***********************************/




/**************************
* Listview for Category
**************************/

div.com-category {}

div.com-category-title {}
div.com-category-subtitle {}
div.com-category-desc {}
div.com-category-img {}

/**************************
* Listview for Products
**************************/

table.com-list { 
	border-collapse:collapse;
	border-spacing:0px;
	margin-bottom:8px;
	margin-top:5px;
	width:100%;	
}
tr.com-list-header { }

tr.com-list-header th { 
	padding:5px;	
}

tr.com-list-header-img { }
tr.com-list-header-title { }
tr.com-list-header-teaser { }
tr.com-list-header-price { }
tr.com-list-header-action { }
	      
	      
table.com-list td { 
	padding:5px;
}
tr.com-list-even {}

tr.com-list-odd {}

td.com-list-col-img { 
	padding:5px;	
}

td.com-list-col-title { 
	text-align:left;
}

td.com-list-col-teaser { 
	text-align:left;
}

td.com-list-col-price { 
	text-align:right;
}

td.com-list-col-action {
	text-align:right;	
 }

div.com-list-action-entry {
	text-align:left;
 }

input.com-input-qty { 
	
}

/**************************
* Singleview for Products
**************************/


div.com-single { }

div.com-single-desc { }

div.com-single-aticle { }

div.com-single-action-entry {}



/**************************
* Attributes for Articels
**************************/

table.com-select-attributes { }

tr.com-select-even {}

tr.com-select-odd {}

div.com-basket-sel-att { }

/**************************
* Basket
**************************/

tr.com-basket-header-list { }

th.com-basket-header-art-nr { }
th.com-basket-header-title { }
th.com-basket-header-price-gross { }
th.com-basket-header-count { }
th.com-basket-header-price-sum { }
th.com-basket-header-basket { }


table.com-basket-list { 	
	border-collapse:collapse;
	border-spacing:0px;
	margin-bottom:8px;
	margin-top:5px;
	width:100%;	
}
tr.com-basket-header { }

tr.com-basket-header th { 
	padding:5px;
}
table.com-basket-list td { 
	padding:5px;
}
tr.com-basket-even { }

tr.com-basket-odd { }


.com-basket-payment {}

.com-basket-payment label { float:left; }

.com-basket-delivery {}

.com-basket-delivery label { float:left; }

.com-text-right {
	text-align:right;
	}

.com-text-left {
	text-align:left;
	}
.com-text-bold {
	font-weight:bold;
	}
/**************************
* Basket Quickview
**************************/
div.com-basket-qv { }
div.com-basket-qv-value { }
div.com-basket-qv-link { }
a.com-basket-qv-basket { }
a.com-basket-qv-chkout { }


/**************************
* Checkout
**************************/

dl.com-chkout-address-items { }

div.com-chkout-address { }

p.com-chkout-address-desc {}

div.com-chkout-address-fields {}

div.com-chkout-address-fields dl {
  clear:both; 
  width: 100%;
  margin:15px 0px;
  }

div.com-chkout-address-fields dt, 
div.com-chkout-address-fields dd { padding-bottom: .5em; }

div.com-chkout-address-fields dt { 
	float: left; 
	width: 30%; 
}
div.com-chkout-address-fields dd { 
	text-align: left; 
}
div.com-chkout-address-fields dd.com-chkout-address-radio,
dd.com-chkout-address-item-select {
	clear: left;
	float: left;
	width: 5%;
}

div.com-chkout-address-fields dt.com-chkout-address-radiolabel {
	float: none;
	width: auto;
}

dt.com-chkout-address-item-data {
	float:none;
	width:auto;	
	margin-left:5%;	
}
div.com-chkout-address-new { clear:both; width:100%; }
p.com-chkout-address-fields-submit { clear:both; }

tr.com-chkout-sum {} 

div.com-chkout-listing-billing-address
div.com-chkout-listing-delivery-address {
	clear: both;
}

div.com-chkout-listing dt {
	clear: left;
	float: left;
	width: 30%;
}

div.com-chkout-listing-footer {
	clear: left;
}

/********************
* Address Management
*********************/

div.com-address-items dl,
div.com-address-list dl {
  clear:both; 
  width: 100%;
  margin:15px 0px;
  }

div.com-address-items dt, 
div.com-address-items dd,
div.com-address-list dt,
div.com-address-list dd { padding-bottom: .5em; }

div.com-address-items dt,
div.com-address-list dt { 
	float: left; 
	width: 30%; 
}
div.com-address-items dd,
div.com-address-list dd { 
	text-align: left; 
}



/**************************
* Invoice
**************************/

table.com-invoice-order {	
	border-collapse:collapse;
	border-spacing:0px;
	margin-bottom:8px;
	margin-top:5px;
	width:100%;	
}

tr.com-invoice-order-header th { 
	padding:5px;
}

th.com-invoice-customer-address {
	width:auto;	
}
th.com-invoice-additional {
	width:200px;	
}
table.com-invoice-order td { 
	padding:5px;
}




/******************************************************************
* Default Color Set
******************************************************************/



/**************************
* Listview for Products
**************************/

table.com-list { 
	border:1px solid #444;
	border-right:none;
}
tr.com-list-header {
	background-color:#f2f2f2;	
}

tr.com-list-header th { 
	border-bottom:1px solid #444;	
	border-right:1px solid #444;
}
table.com-list td { 
	border-right:1px solid #444;
}
tr.com-list-even {
	background-color:#fff;
}

tr.com-list-odd {
	background-color:#f7f7f7;	
}

td.com-list-col-img { 

}

td.com-list-col-title { 
	
}

td.com-list-col-title a:link,
td.com-list-col-title a:active,
td.com-list-col-title a:hover,
td.com-list-col-title a:visited { 
	
}

td.com-list-col-teaser { 

}

td.com-list-col-price { 

}

td.com-list-col-action {

 }

div.com-list-action-entry {
	
 }


/**************************
* Singleview for Products
**************************/


div.com-single { }

div.com-single-aticle { }

div.com-single-cat { }


/**************************
* Attributes for Articels
**************************/


table.com-select-attributes { }

tr.com-select-even {
	background-color:#fff;
}

tr.com-select-odd {
	background-color:#f7f7f7;	
}


div.com-basket-sel-att { }

/**************************
* Basket
**************************/

tr.com-basket-header-list { }

th.com-basket-header-art-nr { }
th.com-basket-header-title { }
th.com-basket-header-price-gross { }
th.com-basket-header-count { }
th.com-basket-header-price-sum { }
th.com-basket-header-basket { }

table.com-basket-list { 
	border:1px solid #444;
	border-right:none;
}
tr.com-basket-header {
	background-color:#f2f2f2;	
}

tr.com-basket-header th { 
	border-bottom:1px solid #444;	
	border-right:1px solid #444;
}
table.com-basket-list td { 
	border-right:1px solid #444;
	border-bottom:1px solid #444;
}
tr.com-basket-even {
	background-color:#fff;
}

tr.com-basket-odd {
	background-color:#f7f7f7;	
}


tr.com-basket-noborder {
	
	}

/**************************
* Basket Quickview
**************************/
div.com-basket-qv { }
div.com-basket-qv-value { }
div.com-basket-qv-link { }
a.com-basket-qv-basket { }
a.com-basket-qv-chkout { }




/**************************
* Checkout
**************************/

tr.com-chkout-sum { border-top:3px double #444;} 

dl.com-chkout-address-items dt,
dl.com-chkout-address-items dd {border-bottom:3px double #444;}


div.address-item-link {
	padding: 3px 0;
	}
div.address-item-link a:link,
div.address-item-link a:hover,
div.address-item-link a:active,
div.address-item-link a:visited {
	background-color:#57636F;
	color:#fff;
	padding:5px;
	}		
div.address-item-link a:hover {
	text-decoration:underline;
	}	


/********************
* Address Management
*********************/

p.com-address-question {

	font-weight:bold;
	color:red;
	}
div.com-address-link a:link,
div.com-address-link a:hover,
div.com-address-link a:active,
div.com-address-link a:visited {
	background-color:#57636F;
	color:#fff;
	padding:5px;
	}		
div.com-address-link a:hover {
	text-decoration:underline;
	}


