[id=commerce-categorytree-tree] .messages,
[id=commerce-categorytree-filteringTree] .messages {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#commerce-categorytree-topPanelItems {
  background-color: #eee;
}
#commerce-categorytree {
  height: 100%;
}
#commerce-categorytree .x-panel-bwrap,
#commerce-categorytree .x-panel-body {
  height: 100%;
}
#commerce-categorytree ul {
  padding-left: 0;
  list-style: none;
}
#commerce-categorytree .x-toolbar {
  padding: 0;
  border: none;
}
#commerce-categorytree ul.x-tree-root-ct {
  padding-top: 24px;
  margin-bottom: 50px;
}
#commerce-categorytree .x-panel-body {
  background: none;
}
#commerce-categorytree .x-tree-node .x-tree-node-el {
  line-height: 18px;
  height: 20px;
  margin-right: 3px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
}
#commerce-categorytree .x-tree-node .x-tree-node-over,
#commerce-categorytree .x-tree-node .x-tree-selected {
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
#commerce-categorytree .x-tree-node .x-tree-node-over {
  background-color: #f2f2f2;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#commerce-categorytree .x-tree-node .x-tree-selected {
  background-color: #fff;
}
#commerce-categorytree .x-tree-node .x-tree-selected.x-tree-node-over {
  background-image: none;
  border-radius: 0;
}
#commerce-categorytree .x-tree-node-readableRootline {
  padding: 10px 0 3px 10px;
}
#commerce-categorytree .x-unselectable,
#commerce-categorytree .x-unselectable * {
  cursor: pointer;
}
#commerce-categorytree .ver-element,
#commerce-categorytree .ver-versions,
#commerce-categorytree .ver-page {
  background-color: #f7c898;
}
#commerce-categorytree .x-tree-node-over.ver-element,
#commerce-categorytree .x-tree-node-over.ver-versions,
#commerce-categorytree .x-tree-node-over.ver-page,
#commerce-categorytree .x-tree-selected.ver-element,
#commerce-categorytree .x-tree-selected.ver-versions,
#commerce-categorytree .x-tree-selected.ver-page {
  background-color: #fee4c9;
}
#commerce-categorytree .commerce-categorytree-filteringTree-highlight {
  background-color: #f48e0c;
  color: #FFF;
  padding: 0;
}
.x-tree-lines .commerce-categorytree-node-notExpandable .x-tree-ec-icon {
  visibility: hidden;
}
.x-tree-lines .commerce-categorytree-node-notExpandable ul .x-tree-ec-icon {
  visibility: visible;
}
.x-tree-node a .commerce-categorytree-status,
.x-dd-drag-ghost a .commerce-categorytree-status {
  padding: 0;
  margin: 0 3px 0 0;
}
.commerce-categorytree-tree-copy {
  color: #666;
  margin-top: 5px;
}
.commerce-categorytree-deletionDropZone-proxyOver,
.x-tree-drop-ok-append,
.x-tree-drop-ok-between,
.x-tree-drop-ok-below,
.x-tree-drop-ok-above {
  background-color: #dce8f4;
  border: 1px solid #9eb2c5;
}
.x-dd-drop-nodrop .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/backend/Resources/Public/Images/pagetree-drag-place-denied.png);
}
.x-tree-drop-ok-append.typo3-pagetree-copy .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/backend/Resources/Public/Images/pagetree-drag-new-inside.png);
}
.x-tree-drop-ok-below.typo3-pagetree-copy .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/backend/Resources/Public/Images/pagetree-drag-copy-below.png);
}
.x-tree-drop-ok-above.typo3-pagetree-copy .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/backend/Resources/Public/Images/pagetree-drag-copy-above.png);
}
.x-tree-drop-ok-between.typo3-pagetree-copy .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/backend/Resources/Public/Images/pagetree-drag-new-between.png);
}
.x-tree-drop-ok-append .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/backend/Resources/Public/Images/pagetree-drag-move-into.png);
}
.x-tree-drop-ok-between .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/backend/Resources/Public/Images/pagetree-drag-move-between.png);
}
.x-tree-drop-ok-below .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/backend/Resources/Public/Images/pagetree-drag-move-below.png);
}
.x-tree-drop-ok-above .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/backend/Resources/Public/Images/pagetree-drag-move-above.png);
}
#commerce-categorytree .x-tree-node .x-tree-drag-insert-below,
.x-tree-node div.x-tree-drag-insert-below,
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a {
  border-bottom: 1px solid #9eb2c5;
}
#commerce-categorytree .x-tree-node .x-tree-drag-insert-above,
.x-tree-node .x-tree-drag-insert-above,
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a {
  border-top: 1px solid #9eb2c5;
}
.x-tree-node .x-tree-drag-append {
  background: #d7e4f1;
}
.x-tree-node .x-tree-drag-append a span {
  background-color: inherit;
  border: none;
}
.commerce-categorytree-toppanel {
  padding: 0 10px;
  border-bottom: 1px solid #c3c3c3;
}
.commerce-categorytree-toppanel .btn {
  line-height: 16px;
}
.commerce-categorytree-toppanel .x-toolbar {
  padding: 0;
  border: 0!important;
}
.commerce-categorytree-toppanel .x-toolbar-left-row .btn {
  margin-right: 4px;
}
.commerce-categorytree-toppanel .x-toolbar-right-row .btn {
  margin-left: 4px;
}
.commerce-categorytree-toppanel .x-panel-body,
.commerce-categorytree-toppanel .x-panel-tbar {
  margin: 4px 0;
  min-height: 26px;
  height: auto!important;
}
.commerce-categorytree-toppanel .x-panel-bwrap {
  height: auto!important;
  overflow: visible;
}
.commerce-categorytree-toppanel .x-btn button {
  font-size: inherit;
}
.commerce-categorytree-toppanel-filter {
  width: 100%!important;
  height: 26px!important;
  padding-right: 25px;
  padding-left: 8px;
  box-sizing: inherit;
}
.commerce-categorytree-toppanel-filter-clear {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.commerce-categorytree-toppanel-item .x-form-field-wrap {
  width: 100%!important;
}
.commerce-categorytree-toppanel-item .x-panel-body {
  margin: 0;
}
.commerce-categorytree-toppanel-drag-node {
  cursor: move;
  padding: 5px;
  border: none;
  background: none;
  font-size: 11px;
  line-height: 16px;
}
#commerce-categorytree-deletionDropZone {
  color: #FFF;
  background-color: #585858;
  box-shadow: inset 0 2px 5px #414141;
}
#commerce-categorytree-deletionDropZone p {
  padding: 5px;
}
#commerce-categorytree-deletionDropZone #commerce-categorytree-deletionDropZone-text {
  cursor: default;
  font-size: .9em;
  padding: 0 0 0 5px;
  display: inline;
}
.commerce-categorytree-deletionDropZone-restore {
  background-color: #d5d5d5;
  background-repeat: repeat-x;
  background-image: linear-gradient(center top, #f6f6f6 10%, #d5d5d5 90%);
  border: 1px solid #7c7c7c;
  border-radius: 1px;
  color: #434343;
  cursor: pointer;
  display: inline-block;
  padding: 0 6px;
  margin-left: 24px;
}
.commerce-categorytree-deletionDropZone-restore:hover {
  background-color: #c8c8c8;
  background-image: linear-gradient(center top, #f6f6f6 10%, #c8c8c8 90%);
  background-position: bottom;
  background-repeat: repeat-x;
  border: 1px solid #737f91;
  color: #1e1e1e;
}
.commerce-categorytree-deletionDropZone-restoreText {
  display: inline-block;
  padding: 4px 4px 4px 18px;
}
#commerce-categorytree .commerce-categorytree-deletionDropZone-activateProxyOver {
  background-color: #644d2d;
}
.x-tree-node-readableRootline {
  font-style: italic;
}
[id=commerce-categorytree-indicatorBar] .alert {
  margin: 10px 10px 0;
}
#commerce-categorytree #typo3-docheader div.buttonsright {
  margin-right: 3px;
}
body#typo3-alt-db-navframe-php div.c-notice {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
  width: 95%;
}
body#commerce-categorytree {
  margin: 0;
  padding: 0;
}
#commerce-categorytree #typo3-inner-docbody {
  padding: 10px 0;
}
#commerce-categorytree-deletionDropZone .x-panel-body {
  background-position: right;
  background-repeat: repeat-y;
}
[id=ext-backend-Modules-FileSystemNavigationFrame-index-php],
[id=ext-backend-Modules-FileSystemNavigationFrame-index-php] .module-body,
[id=commerce-categorytree-treeContainer] {
  background-color: #f5f5f5;
}
[id=commerce-categorytree-tree] {
  height: 100%;
}
[id=commerce-categorytree-tree] .x-panel-body {
  height: 100% !important;
}
