[id=commerce-permissiontree-tree] .messages,
[id=commerce-permissiontree-filteringTree] .messages {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#commerce-permissiontree {
  height: 100%;
}
#commerce-permissiontree .x-panel-bwrap,
#commerce-permissiontree .x-panel-body {
  height: 100%;
}
#commerce-permissiontree ul {
  padding-left: 0;
  list-style: none;
}
#commerce-permissiontree .x-toolbar {
  padding: 0;
  border: none;
}
#commerce-permissiontree ul.x-tree-root-ct {
  padding-top: 24px;
  margin-bottom: 50px;
}
#commerce-permissiontree .x-panel-body {
  background: none;
}
#commerce-permissiontree .x-tree-node .x-tree-node-el {
  line-height: 18px;
  height: 20px;
  margin-right: 3px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
}
#commerce-permissiontree .x-tree-node .x-tree-node-over,
#commerce-permissiontree .x-tree-node .x-tree-selected {
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
#commerce-permissiontree .x-tree-node .x-tree-node-over {
  background-color: #f2f2f2;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#commerce-permissiontree .x-tree-node .x-tree-selected {
  background-color: #fff;
}
#commerce-permissiontree .x-tree-node .x-tree-selected.x-tree-node-over {
  background-image: none;
  border-radius: 0;
}
#commerce-permissiontree .x-tree-node-readableRootline {
  padding: 10px 0 3px 10px;
}
#commerce-permissiontree .x-unselectable,
#commerce-permissiontree .x-unselectable * {
  cursor: pointer;
}
#commerce-permissiontree .ver-element,
#commerce-permissiontree .ver-versions,
#commerce-permissiontree .ver-page {
  background-color: #f7c898;
}
#commerce-permissiontree .x-tree-node-over.ver-element,
#commerce-permissiontree .x-tree-node-over.ver-versions,
#commerce-permissiontree .x-tree-node-over.ver-page,
#commerce-permissiontree .x-tree-selected.ver-element,
#commerce-permissiontree .x-tree-selected.ver-versions,
#commerce-permissiontree .x-tree-selected.ver-page {
  background-color: #fee4c9;
}
#commerce-permissiontree .commerce-permissiontree-filteringTree-highlight {
  background-color: #f48e0c;
  color: #FFF;
  padding: 0;
}
.x-tree-lines .commerce-permissiontree-node-notExpandable .x-tree-ec-icon {
  visibility: hidden;
}
.x-tree-lines .commerce-permissiontree-node-notExpandable ul .x-tree-ec-icon {
  visibility: visible;
}
.x-tree-node a .commerce-permissiontree-status,
.x-dd-drag-ghost a .commerce-permissiontree-status {
  padding: 0;
  margin: 0 3px 0 0;
}
.commerce-permissiontree-tree-copy {
  color: #666;
  margin-top: 5px;
}
.commerce-permissiontree-deletionDropZone-proxyOver,
.x-tree-drop-ok-append,
.x-tree-drop-ok-between,
.x-tree-drop-ok-below,
.x-tree-drop-ok-above {
  background-color: #dce8f4;
  border: 1px solid #9eb2c5;
}
.x-dd-drop-nodrop .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/t3skin/images/icons/apps/pagetree-drag-place-denied.png);
}
.x-tree-drop-ok-append.commerce-permissiontree-copy .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/t3skin/images/icons/apps/pagetree-drag-new-inside.png);
}
.x-tree-drop-ok-below.commerce-permissiontree-copy .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/t3skin/images/icons/apps/pagetree-drag-copy-below.png);
}
.x-tree-drop-ok-above.commerce-permissiontree-copy .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/t3skin/images/icons/apps/pagetree-drag-copy-above.png);
}
.x-tree-drop-ok-between.commerce-permissiontree-copy .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/t3skin/images/icons/apps/pagetree-drag-new-between.png);
}
.x-tree-drop-ok-append .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/t3skin/images/icons/apps/pagetree-drag-move-into.png);
}
.x-tree-drop-ok-between .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/t3skin/images/icons/apps/pagetree-drag-move-between.png);
}
.x-tree-drop-ok-below .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/t3skin/images/icons/apps/pagetree-drag-move-below.png);
}
.x-tree-drop-ok-above .x-dd-drop-icon {
  background-image: url(../../../../../../typo3/sysext/t3skin/images/icons/apps/pagetree-drag-move-above.png);
}
#commerce-permissiontree .x-tree-node .x-tree-drag-insert-below,
.x-tree-node div.x-tree-drag-insert-below,
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a {
  border-bottom: 1px solid #9eb2c5;
}
#commerce-permissiontree .x-tree-node .x-tree-drag-insert-above,
.x-tree-node .x-tree-drag-insert-above,
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a {
  border-top: 1px solid #9eb2c5;
}
.x-tree-node .x-tree-drag-append {
  background: #d7e4f1;
}
.x-tree-node .x-tree-drag-append a span {
  background-color: inherit;
  border: none;
}
.commerce-permissiontree-toppanel {
  padding: 0 10px;
  border-bottom: 1px solid #c3c3c3;
}
.commerce-permissiontree-toppanel .btn {
  line-height: 16px;
}
.commerce-permissiontree-toppanel .x-toolbar {
  padding: 0;
  border: 0!important;
}
.commerce-permissiontree-toppanel .x-toolbar-left-row .btn {
  margin-right: 4px;
}
.commerce-permissiontree-toppanel .x-toolbar-right-row .btn {
  margin-left: 4px;
}
.commerce-permissiontree-toppanel .x-panel-body,
.commerce-permissiontree-toppanel .x-panel-tbar {
  margin: 4px 0;
  min-height: 26px;
  height: auto!important;
}
.commerce-permissiontree-toppanel .x-panel-bwrap {
  height: auto!important;
  overflow: visible;
}
.commerce-permissiontree-toppanel .x-btn button {
  font-size: inherit;
}
.commerce-permissiontree-toppanel-filter {
  width: 100%!important;
  height: 26px!important;
  padding-right: 25px;
  padding-left: 8px;
  box-sizing: inherit;
}
.commerce-permissiontree-toppanel-filter-clear {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.commerce-permissiontree-toppanel-item .x-form-field-wrap {
  width: 100%!important;
}
.commerce-permissiontree-toppanel-item .x-panel-body {
  margin: 0;
}
.commerce-permissiontree-toppanel-drag-node {
  cursor: move;
  padding: 5px;
  border: none;
  background: none;
  font-size: 11px;
  line-height: 16px;
}
.x-tree-node-readableRootline {
  font-style: italic;
}
[id=commerce-permissiontree-indicatorBar] .alert {
  margin: 10px 10px 0;
}
#commerce-permissiontree #typo3-docheader div.buttonsright {
  margin-right: 3px;
}
body#typo3-alt-db-navframe-php div.c-notice {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
  width: 95%;
}
body#commerce-permissiontree {
  margin: 0;
  padding: 0;
}
#commerce-permissiontree #typo3-inner-docbody {
  padding: 10px 0;
}
[id=ext-backend-Modules-FileSystemNavigationFrame-index-php],
[id=ext-backend-Modules-FileSystemNavigationFrame-index-php] .module-body,
[id=commerce-permissiontree-treeContainer] {
  background-color: #f5f5f5;
}
