<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Owner selectbox</title>
</head>
<body>
<f:section name="Main">
<span id="o_{pageId}">
	<a
		class="ug_selector changeowner"
		data-page="{pageId}"
		data-owner="{userId}"
		data-username="{username}"
	>
		<f:if condition="{userId} == 0">
			<f:then>
				<f:comment>
					No owner set -> [not set]
				</f:comment>
				<span class="not_set">
					[<f:translate key="LLL:EXT:commerce/Resources/Private/Language/locallang_mod_permission.xlf:notSet" />]
				</span>
			</f:then>
			<f:else>
				<f:if condition="{username}">
					<f:then>
						<f:comment>
							A user name can be resolved
						</f:comment>
						{username -> f:format.crop(maxCharacters:20)}
					</f:then>
					<f:else>
						<f:comment>
							User was deleted -> [deleted]
						</f:comment>
						<span class="not_set" title="{userId}">
							[<f:translate key="LLL:EXT:commerce/Resources/Private/Language/locallang_mod_permission.xlf:deleted" />]
						</span>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</a>
</span>
</f:section>
</body>
</html>