<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>COMMERCE TEMPLATE FOR PI1</title>
    <link href="../../Public/Stylesheets/commerce.css" rel="stylesheet" type="text/css" />
</head>

<body>

<h1>COMMERCE TEMPLATE FOR PI1</h1>
<h2>DEFAULT</h2>

<!-- Documentation -->

<!--
Subparts ###ARTICLE_VIEW###  ###ARTICLE_VIEW_NOSTOCK###
These subparts are used to render the article into the templates,
if an article has stock, ARTICLE_VIEW is used,
if not ARTICLE_VIEW_NOSTOCK

Inside these subparts following markers are availiabe by default
###ARTICLE_EANCODE##
###ARTICLE_STOCK###
###ARTICLE_ORDERNUMBER###
###ARTICLE_PRICE_GROSS###
###DELIVERY_PRICE_GROSS###
###ARTICLE_SELECT_ATTRIBUTES###
###LINKTOPUTINBASKET###

You cann add more Marken by generating these. Just add as prefix
ARTICLE_ and than the filedname in uppercase, like
###ARTICLE_TITLE###
The layout of each field and wraps could be defined by TypoScript, in the fields setup

Generating of forms
If you want one form per articleview interation you can use
following marker to generate the form tags and hidden values

<form name="###ARTICLE_FORMNAME###" action="###ARTICLE_FORMACTION###" method="post">
###ARTICLE_HIDDENCATUID###
###ARTICLE_HIDDENFIELDS###

If you want one form per page you should only use the ###ARTICLE_HIDDENFIELDS###
inside the ARTICLE_VIEW subparts, since the hidden tag for the catuid will be rendered
globally at the beginning of the form tag as marker ###GENERAL_HIDDENCATUID###

STOCK and NOSTOCK SUBPARTS will be rendered into one subpart, so normally the _NOSTOCK part will be inserted into the normal part and
_NOSTOCK part will be deleted in the output

-->


<h3>CATEGORY LIST</h3>

<!-- ###CATEGORY_LIST### begin -->
	<div class="com-category">
		<!-- ###CATEGORY_LIST_ITEM### begin -->
			###CATEGORY_ITEM_TITLE###
			###CATEGORY_ITEM_TEASER###
			###CATEGORY_ITEM_TEASERIMAGES###

			<!--###CATEGORY_ITEM_DESCRIPTION### ###CATEGORY_ITEM_IMAGES###-->
			###CATEGORY_ITEM_SUBTITLE###

			###CATEGORY_ITEM_PRODUCTLIST###


		<!-- ###CATEGORY_LIST_ITEM### end -->
	</div>
<!-- ###CATEGORY_LIST### end -->


<br />
<br />
<br />
<h3>CATEGORY LIST</h3>
<em></em>
<br />

<!-- ###CATEGORY_VIEW_DISPLAY### begin -->
<div class="com-category">
	###CATEGORY_TITLE###
	###CATEGORY_DESCRIPTION###
	###CATEGORY_IMAGES###
	###CATEGORY_SUB_LIST###
</div>

###SUBPART_CATEGORY_ITEMS_LISTVIEW_TOP###

<table class="com-list" cellspacing="0" cellpadding="0" border="0">
	<thead>
		<tr class="com-list-header">
	      <th class="com-list-header-img">###LANG_HEADER_IMAGE###</th>
	      <th class="com-list-header-title">###LANG_HEADER_TITLE###</th>
	      <th class="com-list-header-teaser">###LANG_HEADER_TEASER###</th>
	      <th class="com-list-header-price">###LANG_HEADER_PRICE###</th>
	      <th class="com-list-header-action">###LANG_HEADER_ACTION###</th>
	    </tr>
	</thead>
	<tbody>
		###SUBPART_CATEGORY_ITEMS_LISTVIEW###
	</tbody>
</table>

###CATEGORY_BROWSEBOX###
<!-- ###CATEGORY_VIEW_DISPLAY### end -->


<br />
<br />
<br />
<h3>TOP PRODUCT</h3>
<em>YOU CAN DISPLAY IT IN A SPECIAL WAY </em>
<br />

<!-- ###CATEGORY_ITEMS_LISTVIEW_1### begin -->
<div class="com-list-entry-top">
	###PRODUCT_TITLE###
	###PRODUCT_TEASERIMAGES###
	###PRODUCT_TEASER###
</div>
<!-- ###CATEGORY_ITEMS_LISTVIEW_1### end -->

<br />
<br />
<br />
<h3>LIST PRODUCT ITEM - EVEN</h3>
<em></em>
<br />
<!-- ###CATEGORY_ITEMS_LISTVIEW_2### begin-->
<tr class="com-list-even">
	<td class="com-list-col-img">
		###PRODUCT_TEASERIMAGES###
	</td>

	<td class="com-list-col-title">
		###PRODUCT_TITLE###
	</td>

	<td class="com-list-col-teaser">
		###PRODUCT_TEASER###
	</td>

	<td class="com-list-col-price">
	###PRODUCT_CHEAPEST_PRICE_GROSS###
	</td>
	<td class="com-list-col-action">
	<!-- ###PRODUCT_BASKET_FOR_LISTVIEW### -->
		<!-- ###ARTICLE_VIEW### -->
		<div class="com-list-action-entry">
			###ARTICLE_EANCODE###
			###ARTICLE_STOCK###
            ###ARTICLE_ORDERNUMBER###
			###ARTICLE_PRICE_GROSS###
			###DELIVERY_PRICE_GROSS###
			###ARTICLE_SELECT_ATTRIBUTES###
			###LINKTOPUTINBASKET###
			<form action="###GENERAL_FORM_ACTION###" method="post">
			###GENERAL_HIDDENCATUID###
			###ARTICLE_HIDDENFIELDS###
			<input type="input" class="com-input-qty" value="###QTY_INPUT_VALUE###" name="###QTY_INPUT_NAME###" size="2"/>
			<input type="submit" value="###LANG_SUBMIT###"/>
			</form>
		</div>
		<!-- ###ARTICLE_VIEW### -->

		<!-- ###ARTICLE_VIEW_NOSTOCK### -->
		<div class="com-list-action-entry">
			###ARTICLE_EANCODE###
			###ARTICLE_STOCK###
            ###ARTICLE_ORDERNUMBER###
			###ARTICLE_PRICE_GROSS###
			###DELIVERY_PRICE_GROSS###
			###ARTICLE_SELECT_ATTRIBUTES###
			###LINKTOPUTINBASKET###
			<form action="###GENERAL_FORM_ACTION###" method="post">
			###GENERAL_HIDDENCATUID###
			###ARTICLE_HIDDENFIELDS###
			<input type="input" class="com-input-qty" value="###QTY_INPUT_VALUE###" name="###QTY_INPUT_NAME###" size="2"/>
            <input type="submit" value="###LANG_SUBMIT###"/>
            </form>
        </div>
		<!-- ###ARTICLE_VIEW_NOSTOCK### -->

		<!-- ###ARTICLE_VIEW_MORETHANMAX### -->
		###LINKTOPRODUCT###

		<!-- ###ARTICLE_VIEW_MORETHANMAX### -->

	<!-- ###PRODUCT_BASKET_FOR_LISTVIEW### -->
	</td>
</tr>
<!-- ###CATEGORY_ITEMS_LISTVIEW_2### end -->

<br />
<br />
<br />
<h3>LIST PRODUCT ITEM NO STOCK - EVEN</h3>
<em></em>
<br />
<!-- ###CATEGORY_ITEMS_LISTVIEW_2_NOSTOCK### begin-->
<tr class="com-list-even">
	<td class="com-list-col-img">
		###PRODUCT_TEASERIMAGES###
	</td>

	<td class="com-list-col-title">
		###PRODUCT_TITLE###
	</td>

	<td class="com-list-col-teaser">
		###PRODUCT_TEASER###
	</td>

	<td class="com-list-col-price">
	###PRODUCT_CHEAPEST_PRICE_GROSS###
	</td>
	<td class="com-list-col-action">
	<!-- ###PRODUCT_BASKET_FOR_LISTVIEW### -->
		<!-- ###ARTICLE_VIEW### -->
		<div class="com-list-action-entry">
			###ARTICLE_EANCODE###
			###ARTICLE_STOCK###
            ###ARTICLE_ORDERNUMBER###
			###ARTICLE_PRICE_GROSS###
			###DELIVERY_PRICE_GROSS###
			###ARTICLE_SELECT_ATTRIBUTES###
			###LINKTOPUTINBASKET###
			<form action="###GENERAL_FORM_ACTION###" method="post">
			###GENERAL_HIDDENCATUID###
			###ARTICLE_HIDDENFIELDS###
			<input type="input" class="com-input-qty" value="###QTY_INPUT_VALUE###" name="###QTY_INPUT_NAME###" size="2"/>
			<input type="submit" value="###LANG_SUBMIT###"/>
			</form>
		</div>
		<!-- ###ARTICLE_VIEW### -->

		<!-- ###ARTICLE_VIEW_NOSTOCK### -->
		<div class="com-list-action-entry">
			###ARTICLE_EANCODE###
			###ARTICLE_STOCK###
            ###ARTICLE_ORDERNUMBER###
			###ARTICLE_PRICE_GROSS###
			###DELIVERY_PRICE_GROSS###
			###ARTICLE_SELECT_ATTRIBUTES###
			###LINKTOPUTINBASKET###
			<form action="###GENERAL_FORM_ACTION###" method="post">
				###GENERAL_HIDDENCATUID###
				###ARTICLE_HIDDENFIELDS###
			<input type="input" class="com-input-qty" value="###QTY_INPUT_VALUE###" name="###QTY_INPUT_NAME###" size="2"/>
            <input type="submit" value="###LANG_SUBMIT###"/>
            </form>
        </div>
		<!-- ###ARTICLE_VIEW_NOSTOCK### -->

		<!-- ###ARTICLE_VIEW_MORETHANMAX### -->
		###LINKTOPRODUCT###

		<!-- ###ARTICLE_VIEW_MORETHANMAX### -->

	<!-- ###PRODUCT_BASKET_FOR_LISTVIEW### -->

	</td>
</tr>
<!-- ###CATEGORY_ITEMS_LISTVIEW_2_NOSTOCK### end -->


<br />
<br />
<br />
<h3>LIST PRODUCT ITEM 2 - ODD</h3>
<em></em>
<br />
<!-- ###CATEGORY_ITEMS_LISTVIEW_3### begin-->
<tr class="com-list-odd">
	<td class="com-list-col-img">
		###PRODUCT_TEASERIMAGES###
	</td>

	<td class="com-list-col-title">
		###PRODUCT_TITLE###
	</td>

	<td class="com-list-col-teaser">
		###PRODUCT_TEASER###
	</td>

	<td class="com-list-col-price">
	###PRODUCT_CHEAPEST_PRICE_GROSS###
	</td>
	<td class="com-list-col-action">
	<!-- ###PRODUCT_BASKET_FOR_LISTVIEW### -->
		<!-- ###ARTICLE_VIEW### -->
		<div class="com-list-action-entry">
			###ARTICLE_EANCODE###
			###ARTICLE_STOCK###
            ###ARTICLE_ORDERNUMBER###
			###ARTICLE_PRICE_GROSS###
			###DELIVERY_PRICE_GROSS###
			###ARTICLE_SELECT_ATTRIBUTES###
			###LINKTOPUTINBASKET###
			<form action="###GENERAL_FORM_ACTION###" method="post">
			###GENERAL_HIDDENCATUID###
			###ARTICLE_HIDDENFIELDS###
			<input type="input" class="com-input-qty" value="###QTY_INPUT_VALUE###" name="###QTY_INPUT_NAME###" size="2"/>
			<input type="submit" value="###LANG_SUBMIT###"/>
			</form>
		</div>
		<!-- ###ARTICLE_VIEW### -->

		<!-- ###ARTICLE_VIEW_NOSTOCK### -->
		<div class="com-list-action-entry">
			###ARTICLE_EANCODE###
			###ARTICLE_STOCK###
            ###ARTICLE_ORDERNUMBER###
			###ARTICLE_PRICE_GROSS###
			###DELIVERY_PRICE_GROSS###
			###ARTICLE_SELECT_ATTRIBUTES###
			###LINKTOPUTINBASKET###
			<form action="###GENERAL_FORM_ACTION###" method="post">
			###GENERAL_HIDDENCATUID###
			###ARTICLE_HIDDENFIELDS###
			<input type="input" class="com-input-qty" value="###QTY_INPUT_VALUE###" name="###QTY_INPUT_NAME###" size="2"/>
            <input type="submit" value="###LANG_SUBMIT###"/>
            </form>
        </div>
		<!-- ###ARTICLE_VIEW_NOSTOCK### -->

		<!-- ###ARTICLE_VIEW_MORETHANMAX### -->
		###LINKTOPRODUCT###

		<!-- ###ARTICLE_VIEW_MORETHANMAX### -->

	<!-- ###PRODUCT_BASKET_FOR_LISTVIEW### -->
	</td>
</tr>
<!-- ###CATEGORY_ITEMS_LISTVIEW_3### end -->

<br />
<br />
<br />
<h3>LIST PRODUCT ITEM NO STOCK 2 - ODD</h3>
<em></em>
<br />
<!-- ###CATEGORY_ITEMS_LISTVIEW_3_NOSTOCK### begin-->
<tr class="com-list-odd">
	<td class="com-list-col-img">
		###PRODUCT_TEASERIMAGES###
	</td>

	<td class="com-list-col-title">
		###PRODUCT_TITLE###
	</td>

	<td class="com-list-col-teaser">
		###PRODUCT_TEASER###
	</td>

	<td class="com-list-col-price">
	###PRODUCT_CHEAPEST_PRICE_GROSS###
	</td>
	<td class="com-list-col-action">
	<!-- ###PRODUCT_BASKET_FOR_LISTVIEW### -->
		<!-- ###ARTICLE_VIEW### -->
		<div class="com-list-action-entry">
			###ARTICLE_EANCODE###
			###ARTICLE_STOCK###
            ###ARTICLE_ORDERNUMBER###
			###ARTICLE_PRICE_GROSS###
			###DELIVERY_PRICE_GROSS###
			###ARTICLE_SELECT_ATTRIBUTES###
			###LINKTOPUTINBASKET###
			<form action="###GENERAL_FORM_ACTION###" method="post">
			###GENERAL_HIDDENCATUID###
			###ARTICLE_HIDDENFIELDS###
			<input type="input" class="com-input-qty" value="###QTY_INPUT_VALUE###" name="###QTY_INPUT_NAME###" size="2"/>
			<input type="submit" value="###LANG_SUBMIT###"/>
			</form>
		</div>
		<!-- ###ARTICLE_VIEW### -->

		<!-- ###ARTICLE_VIEW_NOSTOCK### -->
		<div class="com-list-action-entry">
			###ARTICLE_EANCODE###
			###ARTICLE_STOCK###
            ###ARTICLE_ORDERNUMBER###
			###ARTICLE_PRICE_GROSS###
			###DELIVERY_PRICE_GROSS###
			###ARTICLE_SELECT_ATTRIBUTES###
			###LINKTOPUTINBASKET###
			<form action="###GENERAL_FORM_ACTION###" method="post">
			###GENERAL_HIDDENCATUID###
			###ARTICLE_HIDDENFIELDS###
			<input type="input" class="com-input-qty" value="###QTY_INPUT_VALUE###" name="###QTY_INPUT_NAME###" size="2"/>
            <input type="submit" value="###LANG_SUBMIT###"/>
            </form>
        </div>
		<!-- ###ARTICLE_VIEW_NOSTOCK### -->
	<!-- ###PRODUCT_BASKET_FOR_LISTVIEW### -->
	</td>
</tr>
<!-- ###CATEGORY_ITEMS_LISTVIEW_3_NOSTOCK### end -->


<br />
<br />
<br />
<h3>PRODUCT SINGLEVIEW</h3>
<em></em>
<br />
<!-- ###PRODUCT_VIEW_DETAIL### begin-->
###GENERAL_HIDDENCATUID###
<div class="com-single">
	###PRODUCT_TITLE###
	###PRODUCT_IMAGES###
	###PRODUCT_DESCRIPTION###
	###SUBPART_PRODUCT_ATTRIBUTES###



	<div class="com-single-aticle">
	<!-- ###PRODUCT_BASKET_FOR_SINGLEVIEW### -->
			<!-- ###ARTICLE_VIEW### -->
			<div class="com-single-action-entry">
				###ARTICLE_EANCODE###
				###ARTICLE_STOCK###
	            ###ARTICLE_ORDERNUMBER###
				###ARTICLE_PRICE_GROSS###
				###DELIVERY_PRICE_GROSS###
				###ARTICLE_SELECT_ATTRIBUTES###
				###SUBPART_ARTICLE_ATTRIBUTES###
				###LINKTOPUTINBASKET###
				<form action="###GENERAL_FORM_ACTION###" method="post">
				###ARTICLE_HIDDENFIELDS###
				<input type="input" class="com-input-qty" value="###QTY_INPUT_VALUE###" name="###QTY_INPUT_NAME###" size="3"/>
				<input type="submit" value="###LANG_SUBMIT###"/>
				</form>
			</div>
			<!-- ###ARTICLE_VIEW### -->

			<!-- ###ARTICLE_VIEW_NOSTOCK### -->
			<div class="com-single-action-entry">
				###ARTICLE_EANCODE###
				###ARTICLE_STOCK###
	            ###ARTICLE_ORDERNUMBER###
				###ARTICLE_PRICE_GROSS###
				###DELIVERY_PRICE_GROSS###
				###ARTICLE_SELECT_ATTRIBUTES###
				###SUBPART_ARTICLE_ATTRIBUTES###
				###LINKTOPUTINBASKET###
				<form action="###GENERAL_FORM_ACTION###" method="post">
				###ARTICLE_HIDDENFIELDS###
				<input type="input" class="com-input-qty" value="###QTY_INPUT_VALUE###" name="###QTY_INPUT_NAME###" size="3"/>
				<input type="submit" value="###LANG_SUBMIT###"/>
				</form>
			</div>
			<!-- ###ARTICLE_VIEW_NOSTOCK### -->
	<!-- ###PRODUCT_BASKET_FOR_SINGLEVIEW### -->
	</div>
</div>

<!-- ###CATEGORY_ITEM### begin -->
<div class="com-single-cat">
		###CATEGORY_ITEM_TITLE###
		###CATEGORY_ITEM_SUBTITLE###
		###CATEGORY_ITEM_DESCRIPTION###
		###CATEGORY_ITEM_IMAGES###
</div>
<!-- ###CATEGORY_ITEM### end -->

<!-- ###RELATED_PRODUCTS### begin -->


<!-- ###RELATED_PRODUCT_SINGLE### begin -->
	###PRODUCT_TITLE###
	###PRODUCT_IMAGES###
	###PRODUCT_DESCRIPTION###
<!-- ###RELATED_PRODUCT_SINGLE### end -->

<!-- ###RELATED_PRODUCT_SINGLE_NOSTOCK### begin -->

	###PRODUCT_TITLE###
	###PRODUCT_IMAGES###
	###PRODUCT_DESCRIPTION###
<!-- ###RELATED_PRODUCT_SINGLE_NOSTOCK### end -->

<!-- ###RELATED_PRODUCTS### end -->
<!-- ###PRODUCT_VIEW_DETAIL### end -->




<br />
<br />
<br />
<h3>PRODUCT SINGLEVIEW NO STOCK</h3>
<em></em>
<br />
<!-- ###PRODUCT_VIEW_DETAIL_NOSTOCK### begin-->
###GENERAL_HIDDENCATUID###
<div class="com-single">
	###PRODUCT_TITLE###
	###PRODUCT_IMAGES###
	###PRODUCT_DESCRIPTION###
	###SUBPART_PRODUCT_ATTRIBUTES###

	<div class="com-single-aticle">
	<!-- ###PRODUCT_BASKET_FOR_SINGLEVIEW### -->
			<!-- ###ARTICLE_VIEW### -->
			<div class="com-single-action-entry">
				###ARTICLE_EANCODE###
				###ARTICLE_STOCK###
	            ###ARTICLE_ORDERNUMBER###
				###ARTICLE_PRICE_GROSS###
				###DELIVERY_PRICE_GROSS###
				###ARTICLE_SELECT_ATTRIBUTES###
				###SUBPART_ARTICLE_ATTRIBUTES###
				###LINKTOPUTINBASKET###
				<form action="###GENERAL_FORM_ACTION###" method="post">
				###ARTICLE_HIDDENFIELDS###
				<input type="input" class="com-input-qty" value="###QTY_INPUT_VALUE###" name="###QTY_INPUT_NAME###" size="3"/>
				<input type="submit" value="###LANG_SUBMIT###"/>
				</form>
			</div>
			<!-- ###ARTICLE_VIEW### -->

			<!-- ###ARTICLE_VIEW_NOSTOCK### -->
			<div class="com-single-action-entry">
				###ARTICLE_EANCODE###
				###ARTICLE_STOCK###
	            ###ARTICLE_ORDERNUMBER###
				###ARTICLE_PRICE_GROSS###
				###DELIVERY_PRICE_GROSS###
				###ARTICLE_SELECT_ATTRIBUTES###
				###SUBPART_ARTICLE_ATTRIBUTES###
				###LINKTOPUTINBASKET###
				<form action="###GENERAL_FORM_ACTION###" method="post">
				###ARTICLE_HIDDENFIELDS###
				<input type="input" class="com-input-qty" value="###QTY_INPUT_VALUE###" name="###QTY_INPUT_NAME###" size="3"/>
				<input type="submit" value="###LANG_SUBMIT###"/>
				</form>
			</div>
			<!-- ###ARTICLE_VIEW_NOSTOCK### -->
	<!-- ###PRODUCT_BASKET_FOR_SINGLEVIEW### -->
	</div>
</div>

<!-- ###CATEGORY_ITEM### begin -->
<div class="com-single-cat">
		###CATEGORY_ITEM_TITLE###
		###CATEGORY_ITEM_SUBTITLE###
		###CATEGORY_ITEM_DESCRIPTION###
		###CATEGORY_ITEM_IMAGES###
</div>
<!-- ###CATEGORY_ITEM### end -->
<!-- ###PRODUCT_VIEW_DETAIL_NOSTOCK### end -->


<br />
<br />
<br />
<h3>PRODUCT_ATTRIBUTES</h3>
<em></em>
<br />
<!-- ###PRODUCT_ATTRIBUTES### begin-->
<tr class="com-select-even"><td>###PRODUCT_ATTRIBUTES_ICON###	###PRODUCT_ATTRIBUTES_TITLE###
</td><td>	###PRODUCT_ATTRIBUTES_VALUE### ###PRODUCT_ATTRIBUTES_UNIT### </td></tr>
<!-- ###PRODUCT_ATTRIBUTES### end -->

<br />
<br />
<br />
<h3>PRODUCT_ATTRIBUTES2</h3>
<em></em>
<br />
<!-- ###PRODUCT_ATTRIBUTES2### begin-->
<tr class="com-select-odd"><td>###PRODUCT_ATTRIBUTES_ICON###	###PRODUCT_ATTRIBUTES_TITLE###
</td><td>	###PRODUCT_ATTRIBUTES_VALUE### ###PRODUCT_ATTRIBUTES_UNIT### </td></tr>
<!-- ###PRODUCT_ATTRIBUTES2### end -->

<br />
<br />
<br />
<h3>ARTICLE_ATTRIBUTES</h3>
<em></em>
<br />
<!-- ###ARTICLE_ATTRIBUTES### begin-->
<tr class="com-select-even">
	<td>###ARTICLE_ATTRIBUTES_ICON###	###ARTICLE_ATTRIBUTES_TITLE###</td>
	<td>###ARTICLE_ATTRIBUTES_VALUE### ###ARTICLE_ATTRIBUTES_UNIT### </td>
</tr>
<!-- ###ARTICLE_ATTRIBUTES### end -->

<br />
<br />
<br />
<h3>ARTICLE_ATTRIBUTES2</h3>
<em></em>
<br />
<!-- ###ARTICLE_ATTRIBUTES2### begin-->
<tr class="com-select-odd">
	<td>###ARTICLE_ATTRIBUTES_ICON###	###ARTICLE_ATTRIBUTES_TITLE###</td>
	<td>###ARTICLE_ATTRIBUTES_VALUE### ###ARTICLE_ATTRIBUTES_UNIT### </td>
</tr>
<!-- ###ARTICLE_ATTRIBUTES2### end -->

<br />
<br />
<br />
<h3>SELECT_ATTRIBUTES</h3>
<em></em>
<br />
<!-- ###SELECT_ATTRIBUTES### begin-->
	<tr class="com-select-row-odd">
		<td>###SELECT_ATTRIBUTES_ICON###	###SELECT_ATTRIBUTES_TITLE###</td>
		<td>###SELECT_ATTRIBUTES_VALUE### ###SELECT_ATTRIBUTES_UNIT### </td>
	</tr>
<!-- ###SELECT_ATTRIBUTES### end -->

<!-- ###SELECT_ATTRIBUTES###2 begin-->
	<tr class="com-select-row-even">
		<td>###SELECT_ATTRIBUTES_ICON###	###SELECT_ATTRIBUTES_TITLE###</td>
		<td>###SELECT_ATTRIBUTES_VALUE### ###SELECT_ATTRIBUTES_UNIT### </td>
	</tr>
<!-- ###SELECT_ATTRIBUTES###2 end -->

<br />
<br />
<h3>SELECTOR_ATTRIBUTES_RADIOBUTTON</h3>
<em></em>
<br />
<!-- ###SELECTOR_ATTRIBUTES_RADIOBUTTON### begin-->
<table class="com-select-attributes" cellspacing="0" cellpadding="0" border="0">
	<tr class="com-select-row">
		<td>###SELECT_ATTRIBUTES_TITLE###:</td>
		<td>
		<!-- ###SELECTOR_ATTRIBUTES_RADIOBUTTON_ITEM### begin-->
			<label for="###SELECT_ATTRIBUTES_HTML_ELEMENT_KEY###_###SELECT_ATTRIBUTES_VALUE_VALUE###">###SELECT_ATTRIBUTES_VALUE_ICON### ###SELECT_ATTRIBUTES_VALUE_NAME###</label>
			<input type="radio" onClick="###SELECT_ATTRIBUTES_ON_CHANGE###" name="###SELECT_ATTRIBUTES_HTML_ELEMENT_NAME###" id="###SELECT_ATTRIBUTES_HTML_ELEMENT_KEY###_###SELECT_ATTRIBUTES_VALUE_VALUE###" value="###SELECT_ATTRIBUTES_VALUE_VALUE###" ###SELECT_ATTRIBUTES_VALUE_STATUS### />
			<br />
		<!-- ###SELECTOR_ATTRIBUTES_RADIOBUTTON_ITEM### end-->

		###SELECT_ATTRIBUTES_UNIT###
		</td>
	</tr>
</table>
<!-- ###SELECTOR_ATTRIBUTES_RADIOBUTTON### end -->

<br />
<br />
<h3>SELECTOR_ATTRIBUTES_DROPDOWN</h3>
<em></em>
<br />
<!-- ###SELECTOR_ATTRIBUTES_DROPDOWN### begin-->
<table class="com-select-attributes" cellspacing="0" cellpadding="0" border="0">
	<tr class="com-select-row">
		<td>###SELECT_ATTRIBUTES_TITLE###</td>
		<td>
		<select onchange="###SELECT_ATTRIBUTES_ON_CHANGE###" name="###SELECT_ATTRIBUTES_HTML_ELEMENT_NAME###">
		<!-- ###SELECTOR_ATTRIBUTES_DROPDOWN_ITEM### begin-->
		<option value="###SELECT_ATTRIBUTES_VALUE_VALUE###" ###SELECT_ATTRIBUTES_VALUE_STATUS###>
			###SELECT_ATTRIBUTES_VALUE_NAME###
		</option>
		<!-- ###SELECTOR_ATTRIBUTES_DROPDOWN_ITEM### end-->
		</select>
		###SELECT_ATTRIBUTES_UNIT###
		</td>
	</tr>
</table>
<!-- ###SELECTOR_ATTRIBUTES_DROPDOWN### end -->

<br />
<br />
<br />
<h3>PRODUCT_BASKET_SELECT_ATTRIBUTES</h3>
<em></em>
<br />
<!-- ###PRODUCT_BASKET_SELECT_ATTRIBUTES### begin-->
<div class="com-basket-sel-att">
	<span><u>###SELECT_ATTRIBUTES_TITLE###:</u> ###SELECT_ATTRIBUTES_SELECTBOX###</span>
</div>
<!-- ###PRODUCT_BASKET_SELECT_ATTRIBUTES### end -->

<!-- following elements are only to satisfy inspections -->
<div class="com-category-subtitle"></div>
<div class="com-category-desc"></div>
<div class="com-category-img"></div>
<div class="com-single-desc"></div>
<div class="com-chkout-listing-delivery-address"></div>
<div class="address-item-link"></div>

</body>
</html>